{% extends "base.html" %}

{% block head %}
  
<title>
{% block title %}
Running Dashboard
 {% endblock title %}
</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Release the $ variable
    var $jq = jQuery.noConflict();

// Reassign $ to jQuery
var $ = $jq;

// Use $ for jQuery
$(document).ready(function(){
    $.ajax({
        url: 'https://code.jquery.com/jquery-3.6.0.min.js', // Use a valid URL
        method: 'GET',
        success: function(data) {
            console.log("AJAX call successful", data);
        },
        error: function(xhr, status, error) {
            console.error("AJAX error:", error);
        }
    });
});
</script>


 

<style>
    {% block style %}
    
    
    
    .output_1{
        color:red;
    }
    
    pre{
        display: block;
        font-size: 99.5%;
        color: #212529
    }
    
    {% endblock style %}
</style>
{% endblock head %}
{% block body %}
<div class="container mt-5">

    <!-- Display success message if present (Bootstrap alert) -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
  <div class="container">
    <h1 class="text-center">Runner</h1>
    <p>Last refreshed: <span id="last-refresh">{{ timestamp }}</span></p>
    <pre id="script-output">{{ console_output }}</pre><br>

    <table border="1">
        <tbody>
            {% for row in df_records %}
                <tr>
                    <td>{{ row.time }}</td>
                    <td>{{ row.into }}</td>
                    <td>{{ row.inth }}</td>
                    <td>{{ row.intc }}</td>
                    <td>{{ row.ssboe }}</td>
                    <td>{{ row.intv }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
   
  
  <script>
    setTimeout(function() {
        let alerts = document.querySelectorAll('.alert-success');
        alerts.forEach(function(alert) {
            let alertInstance = new bootstrap.Alert(alert);
            alertInstance.close();
        });
    }, 4000);  // 4000 milliseconds = 4 seconds
</script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

{% endblock body %}

   