{% extends "base.html" %}

{% block head %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function() {
        function refreshDashboard() {
            $jq.ajax({
                url: '/tentothree/dashboard',  // Current view URL
                type: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': $jq('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function(response) {
                    $jq('#last-refresh').text(response.timestamp);
                    $jq('#script-output').text(response.output);
                },
                error: function(xhr, status, error) {
                    console.error("AJAX error:", error);
                }
            });
        }

        refreshDashboard();
        setInterval(refreshDashboard, 10000);
    });
</script>

{% endblock head %}

{% block body %}
{% csrf_token %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div class="container mt-5">
    {% if reason %}
        <p>Error: {{ reason }}</p>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    <h1 class="text-center">Runner</h1>
    <p>Last refreshed: <span id="last-refresh">{{ timestamp }}</span></p>
    <pre id="script-output">{{ console_output }}</pre><br>
    <!-- <table border="1">
        <tbody>
            {% for row in df_records %}
                <tr>
                    <td>{{ row.time }}</td>
                    <td>{{ row.into }}</td>
                    <td>{{ row.inth }}</td>
                    <td>{{ row.intc }}</td>
                    <td>{{ row.ssboe }}</td>
                    <td>{{ row.intv }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
</div>

<script>
    setTimeout(function() {
        let alerts = document.querySelectorAll('.alert-success');
        alerts.forEach(function(alert) {
            let alertInstance = new bootstrap.Alert(alert);
            alertInstance.close();
        });
    }, 4000);
</script>

{% endblock body %}
