{% extends "base.html" %}

{% block title %}
  OnWorkin
{% endblock title %}

<style>
  {% block style %}
   
    

.hello{
color: black;

}

.hello:hover {
color: black;
text-decoration: none;
font-size: large;

}

{% endblock style %}
</style>
{% block body %}

  <div class="container">
    <div class="d-grid ">
        <button type="button" class="btn btn-outline-info col align-self-center" id="dashB"><a class="hello" href="/tentothree">Dashboard</a></button>
        <!-- <a class="hello" href="/tentothree"></a><button type="button" class="btn btn-outline-info col align-self-center" id="dashB">Dashboard</button></a>  -->
       
  </div> 
{% endblock body %}
